<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form>
  <div class="form-group">
    <label>Uzupelnij dane:</label>
  </div>
  <div class="form-group">
    <label for="FormControlInput1">Imie:</label>
    <input type="name" class="form-control" id="FormControlInput1">
  </div>
  <div class="form-group">
    <label for="FormControlInput2">Nazwisko:</label>
    <input type="lastname" class="form-control" id="FormControlInput2">
  </div>
  <div class="form-group">
    <label for="FormControlInput3">Email:</label>
    <input type="email" class="form-control" id="FormControlInput3">
  </div>
  <div class="form-group">
    <label for="FormControlSelect1">Wybierz płeć:</label>
    <select class="form-control" id="FormControlSelect1">
      <option>Mężczyzna</option>
      <option>Kobieta</option>
    </select>
  </div>
  <div class="form-group">
    <label for="FormControlTextArea1">Opis:</label>
    <textarea class="form-control" id="FormControlTextArea1" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="FormControlSelect2">Wybierz wiek:</label>
    <select class="form-control" id="FormControlSelect2">
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
    </select>
  </div>
  <div class="form-group">
    <label for="FormControlSelect3">Stan cywilny:</label>
    <select class="form-control" id="FormControlSelect3">
      <option>Kawaler/Panna</option>
      <option>Żonaty/Mężatka</option>
    </select>
  </div>
  <div class="form-row" id="form-buttons">
    <div>
      <button type="submit" class="btn btn-primary">Wyślij</button>
    </div>
    <div>
      <button type="reset" class="btn btn-primary">Wyczyść</button>
    </div>
  </div>
  <div>
    <footer class="center">
      Copyrights &copy; Rafał Rzeszutek | 2020
    </footer>
  </div>
</form>
<div class="scroll">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>
</body>
</html>
